@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 170 56% 92%;
    --foreground: 224 71% 4%;
    --card: 170 56% 95%;
    --card-foreground: 224 71% 4%;
    --popover: 170 56% 95%;
    --popover-foreground: 224 71% 4%;
    --primary: 186 31% 41%;
    --primary-foreground: 210 20% 98%;
    --secondary: 186 25% 60%;
    --secondary-foreground: 224 71% 4%;
    --muted: 186 25% 75%;
    --muted-foreground: 240 5% 34%;
    --accent: 45 65% 52%;
    --accent-foreground: 45 95% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 186 31% 70%;
    --input: 186 31% 80%;
    --ring: 186 31% 41%;
    --chart-1: 186 76% 61%;
    --chart-2: 45 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 186 31% 41%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 170 56% 92%;
    --sidebar-accent-foreground: 186 31% 41%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 186 31% 41%;
  }
  .dark {
    --background: 222 84% 5%;
    --foreground: 210 40% 98%;
    --card: 222 84% 6%;
    --card-foreground: 210 40% 98%;
    --popover: 222 84% 5%;
    --popover-foreground: 210 40% 98%;
    --primary: 186 31% 41%;
    --primary-foreground: 210 20% 98%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 45 65% 52%;
    --accent-foreground: 45 95% 15%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 33% 17%;
    --input: 217 33% 17%;
    --ring: 186 31% 41%;
    --chart-1: 186 70% 50%;
    --chart-2: 45 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 222 84% 4.9%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 186 31% 41%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 217 32.6% 17.5%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 217 32.6% 17.5%;
    --sidebar-ring: 186 31% 41%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
